<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
	   <div class="span8">
      <h3>Messages . . . Text ID number to (937)660-7148</h3>
      <%= render 'shared/feed' %>
	  </div>
  </div>
<% else %>
   
  <div class="center hero-unit">
    <h1>Welcome to the Twilio App</h1>

    <h2>
      This is the home page for the
      <a href="http://twilio.com/">Twilio</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<%= link_to image_tag("twilio.png", alt: "Twilio"), 'http://twilio.com/' %>
<% end %>